cycler==0.10.0
h5py==2.6.0
matplotlib==1.5.1
numpy==1.11.0
pandas==0.18.1
Pillow==3.3.0
protobuf==3.0.0b2
py==1.4.31
pyparsing==2.1.5
pytest==2.9.1
python-dateutil==2.5.3
pytz==2016.4
scipy==0.17.1
seaborn==0.7.1
six==1.10.0
tensorflow==0.8.0
wheel==0.29.0
-e git+git://github.com/golmschenk/gonet@v0.1.0#egg=gonet